/* Will be compiled down to a single stylesheet with your sass files */

body {
	color: #666;
}

#main {
	background: white;
	margin-top: 50px;
}

.info-box h5 {
	font-weight: bold;
}

.info-box p {
	margin-top: 5px;
}

.info-box {
	margin: 0;
	padding: 0;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.info-box:last-child {
	border-bottom: 0;
}

.clear {
	clear: both;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #B3151B;
}

#bot-nav.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #222;
}

a {
	color: #C12026;
}

.navbar a {
	color: white!important;
}

.navbar-toggle {
	display: none;
}

#top-nav.navbar-default {
	background: #C12026;
	border: none;
}

#mobile-nav {
	margin-left: 7px;
}

#mobile-nav li {
	float: left;
	text-align: center;
	font-size: 12px;
	width: 25%;
}

#bot-nav {
	display: none;
}

@media (min-width: 320px) and (max-width: 980px) {
	#bot-nav {
		display: block;
	}
	#desktop-nav {
		display: none;
	}
}

#bot-nav.navbar-default {
	background: #333;
	border: none;
}

#signup {

}

#login {
	margin: 0;
	margin: auto;
	float: none;
	text-align: center;
	margin-top: 10%;
}

#login form {
	margin-top: 12%;
	margin-bottom: 7%;
}

#login form input {
	border: none;
	padding: 12px 15px;
}

#login .form-top {
	border: 1px solid #ddd;
	border-bottom: 0;
}

#login .form-bot {
	border: 1px solid #ddd;
}

#login-btn {
	border: none;
	background: #C12026;
	border-radius: 0;
	padding: 12px;
	width: 100%;
	font-size: 16px;
}